@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

.AVec, .VList, .VSel, .DVec {
    width: 100%; 
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.colwarp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.colwarp .Col1,
.colwarp .Col2 {
    flex: 1;
}

.colwarp label {
    display: block;
    margin-bottom: 5px;
}

.colwarp input[type="number"] {
    width: calc(100% - 25px); 
    margin-bottom: 10px;
    margin: 15px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.VSel label {
    display: block;
    margin-bottom: 5px;
}

.VSel select {
    width: 100%;
    margin-bottom: 10px;
}

.DVec {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.DVec div {
    width: 100%;
}

.DVec h2 {
    margin-bottom: 10px;
}

.DVec p {
    margin-bottom: 5px;
}
